In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException
from selenium.webdriver.common.keys import Keys
import requests

# 1) Scrape the details of most viewed videos on YouTube from Wikipedia:

In [ ]:
driver=webdriver.Chrome('chromedriver.exe')

In [ ]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [ ]:
#to scrape the name of the videos
title=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")

name=[]
try:
    for i in title:
        name.append(i.text[:-5])
except NoSuchElementException:
        name.append('N/A')

In [ ]:
#to scrape the rank of the videos
rate=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")

rank=[]
try:
    for i in rate:
        rank.append(i.text[:-1])
except NoSuchElementExcpetion:
    rank.append("N/A")
rank

In [ ]:
#to scrape the details of Artist name
art=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")

artist=[]
try:
    for i in art:
        artist.append(i.text)
except NoSuchElementExcpetion:
    artist.append('N/A')
artist

In [ ]:
#to scrape view on the videos in Billions
view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")

views=[]
try:
    for i in view:
        views.append(i.text)
except NoSuchElementExcpetion:
    views.append('N/A')

In [ ]:
#to crape the upload date of the videos
upload=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")

date=[]
try:
    for i in upload:
        date.append(i.text)
except NoSuchElementExcpetion:
    date.append("N/A")
date

In [51]:
#to store all the data in a dataframe
df=pd.DataFrame()
df['Rank']=rank
df['Name']=name
df['Artist']=artist
df['Views(in Billions)']=views
df['Upload date']=date
df

,Rank,Name,Artist,Views(in Billions),Upload date
0,1,"""Baby Shark Dance",Pinkfong Baby Shark - Kids' Songs & Stories,9.32,"June 17, 2016"
1,2,"""Despacito",Luis Fonsi,7.54,"January 12, 2017"
2,3,"""Johny Johny Yes Papa",LooLoo Kids,5.71,"October 8, 2016"
3,4,"""Shape of You",Ed Sheeran,5.46,"January 30, 2017"
4,5,"""See You Again",Wiz Khalifa,5.26,"April 6, 2015"
5,6,"""Bath Song",Cocomelon – Nursery Rhymes,4.51,"May 2, 2018"
6,7,"""Learning Colors – Colorful Eggs on a Farm",Miroshka TV,4.51,"February 27, 2018"
7,8,"""Masha and the Bear – Recipe for Disaster",Get Movies,4.46,"January 31, 2012"
8,9,"""Uptown Funk",Mark Ronson,4.29,"November 19, 2014"
9,10,"""Gangnam Style",Psy,4.19,"July 15, 2012"
10,11,"""Phonics Song with Two Words",ChuChu TV,4.16,"March 6, 2014"
11,12,"""Dame Tu Cosita",El Chombo,3.59,"April 5, 2018"
12,13,"""Sugar",Maroon 5,3.55,"January 14, 2015"
13,14,"""Sorry",Justin Bieber,3.47,"October 22, 2015"
14,15,"""Roar",Katy Perry,3.43,"September 5, 2013"
15,16,"""Counting Stars",OneRepublic,3.39,"May 31, 2013"
16,17,"""Thinking Out Loud",Ed Sheeran,3.32,"October 7, 2014"
17,18,"""Wheels on the Bus",Cocomelon – Nursery Rhymes,3.26,"May 24, 2018"
18,19,"""Dark Horse",Katy Perry,3.14,"February 20, 2014"
19,20,"""Faded",Alan Walker,3.14,"December 3, 2015"
20,21,"""Girls Like You",Maroon 5,3.12,"May 31, 2018"
21,22,"""Shake It Off",Taylor Swift,3.10,"August 18, 2014"
22,23,"""Lean On",Major Lazer,3.09,"March 22, 2015"
23,24,"""Bailando",Enrique Iglesias,3.09,"April 11, 2014"
24,25,"""Let Her Go",Passenger,3.07,"July 25, 2012"
25,26,"""Axel F",Crazy Frog,3.00,"June 16, 2009"
26,27,"""Mi Gente",J Balvin,2.98,"June 29, 2017"
27,28,"""Perfect",Ed Sheeran,2.95,"November 9, 2017"
28,29,"""Waka Waka (This Time for Africa)",Shakira,2.94,"June 4, 2010"
29,30,"""Hello",Adele,2.88,"October 22, 2015"

# 2) Scrape the details team India’s international fixtures from bcci.tv.

In [88]:
#to get to url page
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.bcci.tv/'
driver.get(url)

In [89]:
#to access the international fixtures fo india
btn1=driver.find_element_by_xpath("//div[@class='navigation__drop-down drop-down drop-down--reveal-on-hover'][1]")
btn1.click()
btn2=driver.find_element_by_xpath("//a[@class='navigation__link navigation__link--in-drop-down'][1]")
btn2.click()

In [ ]:
#to scrape match title
title=driver.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")

match=[]
try:
    for i in title:
        match.append(i.text)
except NoSuchElementException:
    match.append('N/A')
match

In [ ]:
#to scrape the series of the match
ser=driver.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")

series=[]
try:
    for i in ser:
        series.append(i.text)
except NoSuchElementException:
    series.append('N/A')
series

In [ ]:
#to scrape details of the place
pla=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")

place=[]
try:
    for i in pla:
        place.append(i.text)
except NoSuchElementException:
    place.append('N/A')
place

In [90]:
urls=[]
page=driver.find_elements_by_xpath("//div[@class='js-list']/a")
for i in page:
    urls.append(i.get_attribute('href'))

In [93]:
date=[]
time=[]
for i in urls:
    driver.get(i)
    
    try:
        dat = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/strong")
        date.append(dat.text)
    except NoSuchElementException:
        date.append('N/A')
        
    try:
        times = driver.find_element_by_xpath("//div[@class='mc-header-scorebox__datetime']/span")
        time.append(times.text)
    except NoSuchElementException:
        time.append('N/A')

In [96]:
df=pd.DataFrame({"Match":match,
                "Series":series,
                "Place":place,
                "Date":date,
                "Time":time})
df

,Match,Series,Place,Date,Time
0,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 24 October,19:30 IST
1,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Sunday 31 October,19:30 IST
2,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 3 November,19:30 IST
3,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Friday 5 November,19:30 IST
4,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Stadium, Dubai",Monday 8 November,19:30 IST
5,1st T20I,INDIA V NEW ZEALAND 2021,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 November,19:00 IST
6,2nd T20I,INDIA V NEW ZEALAND 2021,"JSCA International Stadium Complex, Ranchi",Friday 19 November,19:00 IST
7,3rd T20I,INDIA V NEW ZEALAND 2021,"Eden Gardens, Kolkata",Sunday 21 November,19:00 IST
8,1st Test,INDIA V NEW ZEALAND 2021,"Green Park, Kanpur",Thursday 25 November,09:30 IST
9,2nd Test,INDIA V NEW ZEALAND 2021,"Wankhede Stadium, Mumbai",Friday 3 December,09:30 IST
10,1st Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Friday 17 December,13:30 IST
11,2nd Test,SOUTH AFRICA V INDIA 2021/2022,"Supersport Park, Centurion",Sunday 26 December,13:30 IST
12,3rd Test,SOUTH AFRICA V INDIA 2021/2022,"New Wanderers Stadium, Johannesburg",Monday 3 January,13:30 IST
13,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Tuesday 11 January,14:00 IST
14,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 14 January,14:00 IST
15,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Sunday 16 January,14:00 IST
16,1st T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Wednesday 19 January,19:30 IST
17,2nd T20I,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",Friday 21 January,19:30 IST
18,3rd T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Sunday 23 January,19:30 IST
19,4th T20I,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",Wednesday 26 January,19:30 IST

# 3) Scrape the details of selenium exception from guru99.com.

In [97]:
#to get to url page
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.guru99.com/'
driver.get(url)

In [98]:
#to access the required page
link1=driver.find_element_by_xpath("//ul[@class='menu1']/li[3]/a")
try:
    link1.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(link1.get_attribute('href'))

In [99]:
link2=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    link2.click()
except ElementNotInteractableException:
    driver.get(link2.get_attribute('href'))

In [ ]:
#to crape the exception names
title=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")

name=[]
try:
    for i in title:
        name.append(i.text)
except NoSuchElementsException:
    name.append('NA')
name

In [ ]:
#to scrape description for the names
descrip=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")

desc=[]
try:
    for i in descrip:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('NA')
desc

In [103]:
#storing the data in a dataframe
df=pd.DataFrame()
df['Exception name']=name
df['Description']=desc
df

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

# 4) Scrape the details of State-wise GDP of India from statisticstime.com.

In [108]:
#to get to url page
driver=webdriver.Chrome('chromedriver.exe')
url='http://statisticstimes.com/'
driver.get(url)

In [114]:
#to access the required page
economy=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [115]:
gdp1=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [116]:
gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
try:
    gdp.click()
except ElementNotInteractableException:
    driver.get(gdp.get_attribute('href'))

In [122]:
#to scrape the details of state names
state=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[2]")
    for i in name:
        state.append(i.text)
except NoSuchElementException:
    state.append('N/A')

In [123]:
#to scrape the details gsdp in 19-20
gsdp20=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[3]")
    for i in name:
        gsdp20.append(i.text)
except NoSuchElementException:
    gsdp20.append('N/A')

In [124]:
#to scrape the gsdp details for 18-19
gsdp19=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[4]")
    for i in name:
        gsdp19.append(i.text)
except NoSuchElementException:
    gsdp19.append('N/A')

In [125]:
#to scrape share percentage of state in gdp
share=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[5]")
    for i in name:
        share.append(i.text)
except NoSuchElementException:
    share.append('N/A')

In [126]:
#to scrape gdp in billions
gdp=[]
try:
    name=driver.find_elements_by_xpath("//*[@id='table_id']/tbody/tr/td[6]")
    for i in name:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append('N/A')

In [129]:
#to assign rank to the states as we have scraped the data rank wise
rank=[i for i in range(1,len(state)+1)]

In [131]:
#storing all the data in a dataframe
df=pd.DataFrame()
df['Rank']=rank
df['State']=state
df['GSDP at current price (19-20)']=gsdp20
df['GSDP at current price (18-19)']=gsdp19
df['Share (18-19)']=share
df['GDP ($billion)']=gdp
df.style.hide_index()

# 5) Trending repositories from github.com

In [3]:
#to get to url page
driver=webdriver.Chrome('chromedriver.exe')
url='https://github.com'
driver.get(url)

In [5]:
#to get the dropdown menu of explore
explore=driver.find_element_by_xpath("//nav[@class='mt-0 px-3 px-lg-0 mb-5 mb-lg-0']/ul/li[4]")
explore.click()

In [7]:
#to click on trending option from explore
trending=driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul[2]/li[3]/a")
trending.click()

In [ ]:
#to scrape the details of the title or name of the repository
name=[]
try:
    names=driver.find_elements_by_xpath("//*[@id='js-pjax-container']/div[3]/div/div[2]/article/h1/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('N/A')
name

In [ ]:
#to scrape the description
desc=[]
try:
    de=driver.find_elements_by_xpath("//article[@class='Box-row']/p")
    for i in de:
        desc.append(i.text)
except NoSuchElementException:
    desc.append('N/A')
desc

In [17]:
#to scrape url of the repository 
urls=[]
repo=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repo:
    urls.append(i.get_attribute('href'))

In [18]:
#to scrape the contributors
Contributors=[]
Language=[]
for i in urls:
    driver.get(i)
    l=[]
    try:
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors.append(count.text)
    except NoSuchElementException:
        Contributors.append('No details available')

In [25]:
#to scrape language 
language=[]
try:
    for i in urls:
        driver.get(i)
        count =driver.find_element_by_xpath('//*[@id="repo-content-pjax-container"]/div/div[2]/div[2]')    
        listy=count.text.split('\n')
        if 'Languages' in listy:
            language.append(listy[listy.index('Languages')+1])
        else:
            language.append('N/A')
except NoSuchElementException:
    language.append('N/A')

In [26]:
df=pd.DataFrame()
df['Repository title']=name[:24]
df['Repository description']=desc[:24]
df['Language used']=language[:24]
df['Contributors count']=Contributors[:24]
df.style.hide_index()

# 6) Top 100 songs on billiboard.com

In [28]:
#to get to url page
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.billboard.com'
driver.get(url)

In [30]:
#Clicking on hot 100
hot=driver.find_element_by_xpath("//a[@class='header__submenu__list__link']")
driver.get(hot.get_attribute('href'))

In [31]:
#to scrape song name
song=[]
try:
    songs = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[1]")
    for i in songs:
        song.append(i.text)
except NoSuchElementException:
    song.append('N/A')
song

In [32]:
#to scrape artist name
artist=[]
try:
    art = driver.find_elements_by_xpath("//span[@class='chart-element__information']/span[2]")
    for i in art:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('N/A')
artist

In [33]:
#to scrape rank of the song
rank=[]
try:
    ran = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
    for i in ran:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('N/A')
rank

In [34]:
#to scrape peak rank
peak=[]
try:
    pe=driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
    for i in pe:
        peak.append(i.text)
except NoSuchElementException:
    peak.append('N/A')
peak

In [36]:
#to scrape the weeks 
week=[]
try:
    wb = driver.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
    for i in wb:
        week.append(i.text)
except NoSuchElementException:
    week.append('N/A')
week

In [38]:
#to store the details in a data frame
df=pd.DataFrame()
df['Song name']=song
df['Artist name']=artist
df['Last week rank']=rank
df['Peak rank']=peak
df['Weeks on board']=week
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Stay,The Kid LAROI & Justin Bieber,1,1,11
1,Industry Baby,Lil Nas X & Jack Harlow,6,2,9
2,Way 2 Sexy,Drake Featuring Future & Young Thug,2,1,3
3,Bad Habits,Ed Sheeran,3,2,13
4,Fancy Like,Walker Hayes,5,5,14
...,...,...,...,...,...
95,Knowing You,Kenny Chesney,100,87,6
96,Am I Dreaming,Lil Nas X Featuring Miley Cyrus,-,97,1
97,Same Boat,Zac Brown Band,-,98,1
98,Come Through,H.E.R. Featuring Chris Brown,95,64,15
99,Don't Go Yet,Camila Cabello,88,42,9

# 7) Data science recruiters on Naukri.com

In [4]:
#to get to url page
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.naukri.com'
driver.get(url)

In [5]:
#to click on recruiters on naukri.com
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

In [6]:
#to search for Data science
search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")

In [7]:
#to click on search button
button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()

In [ ]:
#to scrape name
names=driver.find_elements_by_xpath("//div[@class='vcard']/p/a[1]/span[1]")
name=[]
for i in names:
    try:
        name.append(i.text)
    except NoSuchElementException:
        name.append('N/A')
name

In [ ]:
#to scrape designation
des=driver.find_elements_by_xpath("//div[@class='vcard']/p/span[1]")
desig=[]
for i in des:
    try:
        desig.append(i.text)
    except NoSuchElementException:
        desig.append('N/A')
desig

In [ ]:
#to scrape skill required
skill=[]
try:
    for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']"):
        skill.append(i.text)
except NoSuchAttributeException:
    skill.append('N/A')
skill

In [16]:
#to scrape company name
comp=[]
try:
    company=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in company:
        comp.append(i.text)
except NoSuchElementException:
    comp.append('N/A')
comp

In [17]:
#to scrape url of the pages
urls=[]
url=driver.find_elements_by_xpath("//a[@class='ellipsis']")
for i in url:
    urls.append(i.get_attribute('href'))

In [18]:
#to scrape the location
loca=[]
for j in urls:
    driver.get(j)
    try:
        for i in driver.find_elements_by_xpath("//div[@class='rFrame fl infoWrapper']//div[5]//a"):
            loca.append(i.text)
    except NoSuchAttributeException as e:
        loca.append('N/A')

In [20]:
#to store the data in a dataframe
df=pd.DataFrame()
df['Name']=name
df['Designation']=desig
df['Company']=comp
df['Skills they hire for']=skill
df['Location']=loca
df

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida

# 8) Top 30 highest selling novels

In [21]:
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [ ]:
#to scrape the name of the books
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('N/A')
name

In [25]:
len(name)

100

In [ ]:
#to scrape the author name
author=[]
try:
    auth=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
    for i in auth:
        author.append(i.text)
except NoSuchElementException:
    author.append('N/A')
author

In [ ]:
#to scrape the volumns sold
vol=[]
try:
    volumes=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
    for i in volumes:
        vol.append(i.text)
except NoSuchElementException:
    vol.append('N/A')
vol

In [ ]:
#to scrape the publisher details
publisher=[]
try:
    pub=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
    for i in pub:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('N/A')
publisher

In [ ]:
genre=[]
try:
    gen=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
    for i in gen:
        genre.append(i.text)
except NoSuchElementException:#handling no such element exception
    genre.append('No details available')
genre

In [31]:
#to store the data in dataframe
df=pd.DataFrame()
df['Book name']=name
df['Author name']=author
df['Volumes sold']=vol
df['Publisher']=publisher
df['Genre']=genre
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9) 100 most watched tv shows of all time from imdb.com

In [3]:
#to access the url through chrome driver
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.imdb.com/list/ls095964455'
driver.get(url)

In [ ]:
#to scrape the names of the tv shows
name=[]
try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:
    name.append('N/A')
name

In [ ]:
#to scrape the year 
year=[]
try:
    date=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in date:
        year.append(i.text)
except NosuchElementException:
    year.append('N/A')
year

In [8]:
#to scrape genre
genre=[]
try:
    gen=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in gen:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('N/A')
genre

In [9]:
#to scrape runtime
time=[]
try:
    run=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in run:
        time.append(i.text)
except NoSuchElementException:
    time.append('N/A')
time

In [10]:
#to scrape ratings
rating=[]
try:
    rate=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in rate:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('N/A')
rating

In [11]:
#to scrape votes for the show
votes=[]
try:
    vot=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in vot:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('N/A')
votes

In [12]:
#to store all the data in a dataframe
df=pd.DataFrame()
df['Name']=name
df['Year span']=year
df['Genre']=genre
df['Run Time']=time
df['Ratings']=rating
df['Votes']=votes
df

,Name,Year span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,880,237"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"913,951"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"903,017"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,660"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,036"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,840"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,701"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"176,982"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,826"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"202,353"

# 10) Details of Datasets from UCI machine learning repositories

In [13]:
#to access the url through chrome driver
driver=webdriver.Chrome('chromedriver.exe')
url='https://archive.ics.uci.edu'
driver.get(url)

In [14]:
#to access the view all datasets
btn=driver.find_element_by_xpath("//a[@href='datasets.php']")
btn.click()

In [ ]:
#to scrape the names
name=[]
try:
    names=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('N/A')
name

In [ ]:
#to scrape the type 
types=[]
try:
    typ=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in typ[1:]:
         types.append(i.text)
except NoSuchElementException:
    types.append("N/A")
types

In [ ]:
#to scrape the task
task=[]
try:
    tsk=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in tsk[1:]:
         task.append(i.text)
except NoSuchElementException:
    task.append("N/A")
task

In [ ]:
#to scrape the attribution type
attributes=[]
try:
    atr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in atr[1:]:
         attributes.append(i.text)
except NoSuchElementException:
    attributes.apppend('N/A')
attributes

In [ ]:
#to scrape the instance
instance=[]
try:
    inst=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]")
    for i in inst[1:]:
         instance.append(i.text)
except NoSuchElementException:
    instance.append("N/A")
instance

In [ ]:
#to scrape the number of attributes
attri=[]
try:
    atr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in atr[1:]:
         attri.append(i.text)
except NoSuchElementException:
    attri.append("N/A")
attri

In [ ]:
#to scrape the year
year=[]
try:
    yr=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in yr[1:]:
         year.append(i.text)
except NoSuchElementException:
    year.append("N/A")
year

In [38]:
#to store all the details in a dataframe
df=pd.DataFrame()
df['Dataset name']=name
df['Data type']=types
df['Task']=task
df['Attribute type']=attributes
df['No of instances']=instance
df['No of attribute']=attri
df['Year']=year
df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021